.home {
    flex: 4;

    .addOrder {
        width: 250px;
        height: 30px;
        margin-left: 30%;
        margin-top: 25px;
        background-color: #03C04A;
        color: white;
        cursor: pointer;
        border: none;
    }
}